[submodule "local-packages/julia-ts-mode"]
	path = local-packages/julia-ts-mode
	url = https://github.com/ronisbr/julia-ts-mode.git
[submodule "themes/rose-pine-theme-20232301"]
	path = themes/rose-pine-theme-20232301
	url = https://github.com/thongpv87/rose-pine-emacs.git
[submodule "themes/catppuccin-theme-20231101.1"]
	path = themes/catppuccin-theme-20231101.1
	url = https://github.com/catppuccin/emacs
[submodule "themes/rose-pine-emacs-20230123.1"]
	path = themes/rose-pine-emacs-20230123.1
	url = https://github.com/thongpv87/rose-pine-emacs
[submodule "themes/kanagawa-theme-20230125.1"]
	path = themes/kanagawa-theme-20230125.1
	url = https://github.com/jasonm23/emacs-theme-kanagawa
[submodule "local-packages/lambda-line"]
	path = local-packages/lambda-line
	url = https://github.com/Lambda-Emacs/lambda-line
